<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Scan</title>

  <style>
    #container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <div id="container">
    <img src="<%= path %>" data-src="<%= path %>">

    <p>
      Refresh if it didn't work. Otherwise hit the API again.
    </p>
  </div>
  
  <script>
    const refreshImage = () => {
      const img = document.querySelector('img');

      img.src = img.dataset.src + "?time=" + new Date().getTime()
    }

    setInterval(refreshImage, 5000)
  </script>
</body>
</html>